 <h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: <ol> <li> Python </li> <li> R </li> <li> SQL </li>  </ol>

Some of the commonly used libraries used by Data Scientists include: <ol> <li> Pandas </li> <li> Numpy </li> <li> PyTorch </li> </ol>

<table border="1px"><th> Data Science Tools</th>
<tr>
<td>R Studio </td>
</tr>
<tr>
 <td>TensorFlow </td>
</tr>
<tr>
 <td> AppachiSpark </td> 
</tr> </table>

<u>Below are a few examples of evaluating arithmetic expressions in Python </u>

In [1]:
# This is a simple arithmetic expression to multiply and then add integers.
result = (3 * 4) + 5
result

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

List popular languages for Data Science
<ul> <li>Python </li> <li>R </li> <li>SQL </li> </ul>

<h2> Author </h2> Saleem Jan